<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.SysAdminUserMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.SysAdminUser">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />
    <result column="mobile_num" jdbcType="VARCHAR" property="mobileNum" />
    <result column="head_pic_name" jdbcType="VARCHAR" property="headPicName" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="admin_status" jdbcType="TINYINT" property="adminStatus" />
    <result column="admin_duty" jdbcType="VARCHAR" property="adminDuty" />
    <result column="user_type" jdbcType="TINYINT" property="userType" />
    <result column="platform_id" jdbcType="VARCHAR" property="platformId" />
    <result column="external_admin_user_id" jdbcType="VARCHAR" property="externalAdminUserId" />
    <result column="external_admin_user_name" jdbcType="VARCHAR" property="externalAdminUserName" />
    <result column="password_update_time" jdbcType="TIMESTAMP" property="passwordUpdateTime" />
    <result column="intime" jdbcType="TIMESTAMP" property="intime" />
    <result column="inuser" jdbcType="VARCHAR" property="inuser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="login_cnt" jdbcType="INTEGER" property="loginCnt" />
    <result column="latest_login_time" jdbcType="TIMESTAMP" property="latestLoginTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_name, login_name, login_pwd, mobile_num, head_pic_name, role_id, admin_status, 
    admin_duty, user_type, platform_id, external_admin_user_id, external_admin_user_name, 
    password_update_time, intime, inuser, update_user, update_time, login_cnt, latest_login_time
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.model.SysAdminUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_admin_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_admin_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_admin_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.SysAdminUserExample">
    delete from sys_admin_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.SysAdminUser">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_admin_user (user_name, login_name, login_pwd, 
      mobile_num, head_pic_name, role_id, 
      admin_status, admin_duty, user_type, 
      platform_id, external_admin_user_id, external_admin_user_name, 
      password_update_time, intime, inuser, 
      update_user, update_time, login_cnt, 
      latest_login_time)
    values (#{userName,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{loginPwd,jdbcType=VARCHAR}, 
      #{mobileNum,jdbcType=VARCHAR}, #{headPicName,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, 
      #{adminStatus,jdbcType=TINYINT}, #{adminDuty,jdbcType=VARCHAR}, #{userType,jdbcType=TINYINT}, 
      #{platformId,jdbcType=VARCHAR}, #{externalAdminUserId,jdbcType=VARCHAR}, #{externalAdminUserName,jdbcType=VARCHAR}, 
      #{passwordUpdateTime,jdbcType=TIMESTAMP}, #{intime,jdbcType=TIMESTAMP}, #{inuser,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{loginCnt,jdbcType=INTEGER}, 
      #{latestLoginTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.SysAdminUser">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_admin_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="loginPwd != null">
        login_pwd,
      </if>
      <if test="mobileNum != null">
        mobile_num,
      </if>
      <if test="headPicName != null">
        head_pic_name,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="adminStatus != null">
        admin_status,
      </if>
      <if test="adminDuty != null">
        admin_duty,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="platformId != null">
        platform_id,
      </if>
      <if test="externalAdminUserId != null">
        external_admin_user_id,
      </if>
      <if test="externalAdminUserName != null">
        external_admin_user_name,
      </if>
      <if test="passwordUpdateTime != null">
        password_update_time,
      </if>
      <if test="intime != null">
        intime,
      </if>
      <if test="inuser != null">
        inuser,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="loginCnt != null">
        login_cnt,
      </if>
      <if test="latestLoginTime != null">
        latest_login_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null">
        #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="mobileNum != null">
        #{mobileNum,jdbcType=VARCHAR},
      </if>
      <if test="headPicName != null">
        #{headPicName,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="adminStatus != null">
        #{adminStatus,jdbcType=TINYINT},
      </if>
      <if test="adminDuty != null">
        #{adminDuty,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=TINYINT},
      </if>
      <if test="platformId != null">
        #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="externalAdminUserId != null">
        #{externalAdminUserId,jdbcType=VARCHAR},
      </if>
      <if test="externalAdminUserName != null">
        #{externalAdminUserName,jdbcType=VARCHAR},
      </if>
      <if test="passwordUpdateTime != null">
        #{passwordUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="intime != null">
        #{intime,jdbcType=TIMESTAMP},
      </if>
      <if test="inuser != null">
        #{inuser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginCnt != null">
        #{loginCnt,jdbcType=INTEGER},
      </if>
      <if test="latestLoginTime != null">
        #{latestLoginTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.SysAdminUserExample" resultType="java.lang.Long">
    select count(*) from sys_admin_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_admin_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.loginName != null">
        login_name = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.loginPwd != null">
        login_pwd = #{record.loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.mobileNum != null">
        mobile_num = #{record.mobileNum,jdbcType=VARCHAR},
      </if>
      <if test="record.headPicName != null">
        head_pic_name = #{record.headPicName,jdbcType=VARCHAR},
      </if>
      <if test="record.roleId != null">
        role_id = #{record.roleId,jdbcType=VARCHAR},
      </if>
      <if test="record.adminStatus != null">
        admin_status = #{record.adminStatus,jdbcType=TINYINT},
      </if>
      <if test="record.adminDuty != null">
        admin_duty = #{record.adminDuty,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null">
        user_type = #{record.userType,jdbcType=TINYINT},
      </if>
      <if test="record.platformId != null">
        platform_id = #{record.platformId,jdbcType=VARCHAR},
      </if>
      <if test="record.externalAdminUserId != null">
        external_admin_user_id = #{record.externalAdminUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.externalAdminUserName != null">
        external_admin_user_name = #{record.externalAdminUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.passwordUpdateTime != null">
        password_update_time = #{record.passwordUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.intime != null">
        intime = #{record.intime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.inuser != null">
        inuser = #{record.inuser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.loginCnt != null">
        login_cnt = #{record.loginCnt,jdbcType=INTEGER},
      </if>
      <if test="record.latestLoginTime != null">
        latest_login_time = #{record.latestLoginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_admin_user
    set id = #{record.id,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      login_name = #{record.loginName,jdbcType=VARCHAR},
      login_pwd = #{record.loginPwd,jdbcType=VARCHAR},
      mobile_num = #{record.mobileNum,jdbcType=VARCHAR},
      head_pic_name = #{record.headPicName,jdbcType=VARCHAR},
      role_id = #{record.roleId,jdbcType=VARCHAR},
      admin_status = #{record.adminStatus,jdbcType=TINYINT},
      admin_duty = #{record.adminDuty,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=TINYINT},
      platform_id = #{record.platformId,jdbcType=VARCHAR},
      external_admin_user_id = #{record.externalAdminUserId,jdbcType=VARCHAR},
      external_admin_user_name = #{record.externalAdminUserName,jdbcType=VARCHAR},
      password_update_time = #{record.passwordUpdateTime,jdbcType=TIMESTAMP},
      intime = #{record.intime,jdbcType=TIMESTAMP},
      inuser = #{record.inuser,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      login_cnt = #{record.loginCnt,jdbcType=INTEGER},
      latest_login_time = #{record.latestLoginTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.SysAdminUser">
    update sys_admin_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null">
        login_pwd = #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="mobileNum != null">
        mobile_num = #{mobileNum,jdbcType=VARCHAR},
      </if>
      <if test="headPicName != null">
        head_pic_name = #{headPicName,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="adminStatus != null">
        admin_status = #{adminStatus,jdbcType=TINYINT},
      </if>
      <if test="adminDuty != null">
        admin_duty = #{adminDuty,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=TINYINT},
      </if>
      <if test="platformId != null">
        platform_id = #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="externalAdminUserId != null">
        external_admin_user_id = #{externalAdminUserId,jdbcType=VARCHAR},
      </if>
      <if test="externalAdminUserName != null">
        external_admin_user_name = #{externalAdminUserName,jdbcType=VARCHAR},
      </if>
      <if test="passwordUpdateTime != null">
        password_update_time = #{passwordUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="intime != null">
        intime = #{intime,jdbcType=TIMESTAMP},
      </if>
      <if test="inuser != null">
        inuser = #{inuser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginCnt != null">
        login_cnt = #{loginCnt,jdbcType=INTEGER},
      </if>
      <if test="latestLoginTime != null">
        latest_login_time = #{latestLoginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.SysAdminUser">
    update sys_admin_user
    set user_name = #{userName,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      login_pwd = #{loginPwd,jdbcType=VARCHAR},
      mobile_num = #{mobileNum,jdbcType=VARCHAR},
      head_pic_name = #{headPicName,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR},
      admin_status = #{adminStatus,jdbcType=TINYINT},
      admin_duty = #{adminDuty,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=TINYINT},
      platform_id = #{platformId,jdbcType=VARCHAR},
      external_admin_user_id = #{externalAdminUserId,jdbcType=VARCHAR},
      external_admin_user_name = #{externalAdminUserName,jdbcType=VARCHAR},
      password_update_time = #{passwordUpdateTime,jdbcType=TIMESTAMP},
      intime = #{intime,jdbcType=TIMESTAMP},
      inuser = #{inuser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      login_cnt = #{loginCnt,jdbcType=INTEGER},
      latest_login_time = #{latestLoginTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>