<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.SysMenu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_level" jdbcType="TINYINT" property="menuLevel" />
    <result column="menu_type" jdbcType="TINYINT" property="menuType" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="menu_sort" jdbcType="INTEGER" property="menuSort" />
    <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
    <result column="role_type" jdbcType="TINYINT" property="roleType" />
    <result column="visible" jdbcType="TINYINT" property="visible" />
    <result column="menu_path" jdbcType="VARCHAR" property="menuPath" />
    <result column="intime" jdbcType="TIMESTAMP" property="intime" />
    <result column="inuser" jdbcType="VARCHAR" property="inuser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, menu_name, menu_level, menu_type, parent_id, menu_sort, icon_url, menu_url, menu_code, 
    role_type, visible, menu_path, intime, inuser, update_time, update_user
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.model.SysMenuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.SysMenuExample">
    delete from sys_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.SysMenu">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_menu (menu_name, menu_level, menu_type, 
      parent_id, menu_sort, icon_url, 
      menu_url, menu_code, role_type, 
      visible, menu_path, intime, 
      inuser, update_time, update_user
      )
    values (#{menuName,jdbcType=VARCHAR}, #{menuLevel,jdbcType=TINYINT}, #{menuType,jdbcType=TINYINT}, 
      #{parentId,jdbcType=VARCHAR}, #{menuSort,jdbcType=INTEGER}, #{iconUrl,jdbcType=VARCHAR}, 
      #{menuUrl,jdbcType=VARCHAR}, #{menuCode,jdbcType=VARCHAR}, #{roleType,jdbcType=TINYINT}, 
      #{visible,jdbcType=TINYINT}, #{menuPath,jdbcType=VARCHAR}, #{intime,jdbcType=TIMESTAMP}, 
      #{inuser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.SysMenu">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="menuLevel != null">
        menu_level,
      </if>
      <if test="menuType != null">
        menu_type,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="menuSort != null">
        menu_sort,
      </if>
      <if test="iconUrl != null">
        icon_url,
      </if>
      <if test="menuUrl != null">
        menu_url,
      </if>
      <if test="menuCode != null">
        menu_code,
      </if>
      <if test="roleType != null">
        role_type,
      </if>
      <if test="visible != null">
        visible,
      </if>
      <if test="menuPath != null">
        menu_path,
      </if>
      <if test="intime != null">
        intime,
      </if>
      <if test="inuser != null">
        inuser,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuLevel != null">
        #{menuLevel,jdbcType=TINYINT},
      </if>
      <if test="menuType != null">
        #{menuType,jdbcType=TINYINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="menuSort != null">
        #{menuSort,jdbcType=INTEGER},
      </if>
      <if test="iconUrl != null">
        #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuCode != null">
        #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=TINYINT},
      </if>
      <if test="visible != null">
        #{visible,jdbcType=TINYINT},
      </if>
      <if test="menuPath != null">
        #{menuPath,jdbcType=VARCHAR},
      </if>
      <if test="intime != null">
        #{intime,jdbcType=TIMESTAMP},
      </if>
      <if test="inuser != null">
        #{inuser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.SysMenuExample" resultType="java.lang.Long">
    select count(*) from sys_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_menu
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.menuName != null">
        menu_name = #{record.menuName,jdbcType=VARCHAR},
      </if>
      <if test="record.menuLevel != null">
        menu_level = #{record.menuLevel,jdbcType=TINYINT},
      </if>
      <if test="record.menuType != null">
        menu_type = #{record.menuType,jdbcType=TINYINT},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.menuSort != null">
        menu_sort = #{record.menuSort,jdbcType=INTEGER},
      </if>
      <if test="record.iconUrl != null">
        icon_url = #{record.iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.menuUrl != null">
        menu_url = #{record.menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.menuCode != null">
        menu_code = #{record.menuCode,jdbcType=VARCHAR},
      </if>
      <if test="record.roleType != null">
        role_type = #{record.roleType,jdbcType=TINYINT},
      </if>
      <if test="record.visible != null">
        visible = #{record.visible,jdbcType=TINYINT},
      </if>
      <if test="record.menuPath != null">
        menu_path = #{record.menuPath,jdbcType=VARCHAR},
      </if>
      <if test="record.intime != null">
        intime = #{record.intime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.inuser != null">
        inuser = #{record.inuser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_menu
    set id = #{record.id,jdbcType=VARCHAR},
      menu_name = #{record.menuName,jdbcType=VARCHAR},
      menu_level = #{record.menuLevel,jdbcType=TINYINT},
      menu_type = #{record.menuType,jdbcType=TINYINT},
      parent_id = #{record.parentId,jdbcType=VARCHAR},
      menu_sort = #{record.menuSort,jdbcType=INTEGER},
      icon_url = #{record.iconUrl,jdbcType=VARCHAR},
      menu_url = #{record.menuUrl,jdbcType=VARCHAR},
      menu_code = #{record.menuCode,jdbcType=VARCHAR},
      role_type = #{record.roleType,jdbcType=TINYINT},
      visible = #{record.visible,jdbcType=TINYINT},
      menu_path = #{record.menuPath,jdbcType=VARCHAR},
      intime = #{record.intime,jdbcType=TIMESTAMP},
      inuser = #{record.inuser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.SysMenu">
    update sys_menu
    <set>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuLevel != null">
        menu_level = #{menuLevel,jdbcType=TINYINT},
      </if>
      <if test="menuType != null">
        menu_type = #{menuType,jdbcType=TINYINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="menuSort != null">
        menu_sort = #{menuSort,jdbcType=INTEGER},
      </if>
      <if test="iconUrl != null">
        icon_url = #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuCode != null">
        menu_code = #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        role_type = #{roleType,jdbcType=TINYINT},
      </if>
      <if test="visible != null">
        visible = #{visible,jdbcType=TINYINT},
      </if>
      <if test="menuPath != null">
        menu_path = #{menuPath,jdbcType=VARCHAR},
      </if>
      <if test="intime != null">
        intime = #{intime,jdbcType=TIMESTAMP},
      </if>
      <if test="inuser != null">
        inuser = #{inuser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.SysMenu">
    update sys_menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      menu_level = #{menuLevel,jdbcType=TINYINT},
      menu_type = #{menuType,jdbcType=TINYINT},
      parent_id = #{parentId,jdbcType=VARCHAR},
      menu_sort = #{menuSort,jdbcType=INTEGER},
      icon_url = #{iconUrl,jdbcType=VARCHAR},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      menu_code = #{menuCode,jdbcType=VARCHAR},
      role_type = #{roleType,jdbcType=TINYINT},
      visible = #{visible,jdbcType=TINYINT},
      menu_path = #{menuPath,jdbcType=VARCHAR},
      intime = #{intime,jdbcType=TIMESTAMP},
      inuser = #{inuser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>